.modal {
    margin-top: 50px;
    background-color: #8596c0;
    border-radius: 10px;
    color: Black;
    width: 360px;
    height: 330px;
    padding: 10px;
    font-family: Arial;
    font-size: 14px;
    text-align: right;
    display: inline-block;
}

.modal2 {

    margin-top: 50px;
    background-color: #8596c0;
    border-radius: 10px;
    color: Black;
    width: 250px;
    height: 430px;
    padding: 20px;
    font-family: Arial;
    font-size: 14px;
    text-align: right;
    display: inline-block;
}

.form {
    overflow: auto;
    height: 300px;
    margin: 5px 5px;
}

.div-1 {
    /* background-color: rgb(129, 129, 139);          */
    padding: 10px;
    display: inline-block;
    width: 500px;
    text-align: left;

}

.button {
    background-color: #4b4d4b;
    border: solid 1px whitesmoke;
    border-radius: 10px;
    color: rgb(247, 241, 241);
    padding: 10px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    margin: 4px 2px;
    cursor: pointer;
}

.button:hover {
    background-color: #101310;
    border: solid 1px whitesmoke;;
    border-radius: 10px;
    color: rgb(247, 241, 241);
    padding: 10px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    margin: 4px 2px;
    cursor: pointer;
}


.label {
    /* background-color: #4b4d4b; */
    border-radius: 10px;
    border: solid 1px whitesmoke;
    /* color: rgb(247, 241, 241); */
    padding: 5px 5px;
    text-align: left;
    height: 30px;

    /* display: inline-block; */
    font-weight: bold;
    font-size: 16px;
    margin: 4px 2px;

}

.label2 {
    /* background-color: #4b4d4b; */
    /* border-radius: 10px; */
    /* border: solid 1px whitesmoke;     */
    /* color: rgb(247, 241, 241); */
    padding: 5px;
    text-align: left;
    height: 30px;

    /* display: inline-block; */
    font-weight: bold;
    font-size: 16px;
    margin: 4px 2px;

}

.label3 {
    /* font-family: system-ui, sans-serif; */

    font-size: 1.2rem;
    line-height: 0.8;
    display: grid;
    grid-template-columns: 1rem auto;
    gap: 0.01em;

}

.label4 {
    /* font-family: system-ui, sans-serif; */

    font-size: 1.3rem;
    line-height: 1.8;
    grid-template-columns: 1rem auto;
    gap: 0.01em;

}

.select {
    /* background-color: #4b4d4b; */
    border: solid 1px whitesmoke;
    border-radius: 10px;
    /* color: rgb(247, 241, 241); */
    padding: 5px 5px;
    text-align: left;
    height: 30px;
    float: right;
    /* display: inline-block; */
    font-weight: bold;
    font-size: 14px;
    margin: 4px 2px;

}

.input {
    /* background-color: #4b4d4b; */
    border: solid 1px whitesmoke;
    border-radius: 10px;
    /* color: rgb(247, 241, 241); */
    padding: 5px 5px;
    text-align: left;
    height: 30px;
    /* float: right; */
    /* display: inline-block; */
    font-weight: bold;
    font-size: 14px;
    /* margin: 4px 2px; */

}